<launch>
  <arg name="exec_version" default="first"/>
  <arg name="package_name" default="ros1_xml"/>

  <rosparam param="zero_param">0</rosparam>

  <group if="$(eval exec_version=='first')">
    <include file="$(find ros1_xml_launch_test)/launch/first.launch"/>
  </group>

  <include file="$(eval find(arg('package_name')+'_launch_test')+'/launch/second.launch')" />

</launch>
